
* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    background-color: #BCD4DE;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 80vmin; 
    height: 80vmin; 
    
}

.square {
    border: 1px solid #949BA0;
    background-color: white;
    flex: 0 0 calc(100% / var(--cols));
    height: calc(100% / var(--rows));
}

.square.active {
    background-color: black;
}

#reset {
    margin-bottom: 20px;
    height: 30px;
    width: 100px;
    background-color: #949BA0;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

#reset:hover {
    font-weight: bold;
}